@model LivroIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>
<form asp-action="Index">
    <label>Busca:</label>
    <input type="text" asp-for="@Model.Search" />
    <br />
    <label>Ordenação por Titulo:</label>
    <select asp-for="OrderAscendant">
        <option value="@true">Ascendente</option>
        <option value="@false">Descendente</option>
    </select>
    <br />
    <button class="btn btn-primary">go!</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (Model.Livros == null || !Model.Livros.Any())
    {
        <p>Nenhum Livro cadastrado :(</p>
        return;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Livros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
