@model AutorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Autores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLivrosPublicados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLivrosPublicados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
    </dl>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros.First().Autor)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Livros) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Id)
                </td>
                <td>
                    <a asp-controller="Livro" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Livro" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Livro" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
